* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat";
}

.header{
    width: 100%;
    height: 150px;
    background-color: #0B3C5D;
    justify-content: center;
    display: flex;
}

.cross{
    margin-right: 36px;
    margin-top: 51px ;

    width: 43px;
    height: 43px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title_block{
    height: 100%;
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 54px;
    font-size: 30px;
    color: #D3D3D3;
    font-weight: normal;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.menu_wrapper{
    width: 100%;
    height: 60px;

    background-color: #8FB8DE;
    text-align: center;
    filter: drop-shadow(0px -4px 6px rgba(0, 0, 0, 0.30));
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.30));
}

.menu{
    position: relative;
    top: 18px;
}

a{
    color: black;
    opacity: 85%;;
    padding: 0px 83.5px;
    transition: color .4s;  
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.10);
}

a:hover{
    color: #ac6a6a; 
}

.intro{
    background: url(bg_pic.jpg) no-repeat top;
    background-color: #EAF5FF;
    background-blend-mode: multiply;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_title{
    margin-top: 100px;

    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    color: #000000;
    opacity: 70%;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.main_intro{
    margin-top: 200px;
    margin-bottom:336px;

    display: flex;
    justify-content: center;
}


.intro_left{
    width: 750px;
    border-radius: 57px;
    background: rgba(211, 211, 211, 0.48);
    margin-top: 100px;
    margin-right: 120px;
    padding: 45px;
    height: 225px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
   
    text-align: justify;

    line-height: 146.02%;

    color: #000000;
    opacity: 85%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.112));

}


.intro_right{
    
    width: 500px;
    height: 500px;
    background: rgba(211, 211, 211, 0.48);
    border-radius: 83px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.112));
}

.split{
    width: 100%;
    height: 34px;
    background-color: #D9D9D9;
      filter: drop-shadow(0px -4px 6px rgba(0, 0, 0, 0.30));
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.30));
}

.red_coll{
    background-color:#0B3C5D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.red_col_title{
    margin-top: 188px;
    margin-bottom: 171px;
    color: #D3D3D3;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 146.02%;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);

}

.red_coll_memb{
    margin-top: 171px;
       display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    
}
.red_coll_circle_left{
    width: 108px;
    margin-right: 62px;
    text-align: center;
    filter: drop-shadow( 0px 4px 10px rgba(0, 0, 0, 0.16));
}

.red_coll_circle_right{
    width: 108px;
    margin-left: 62px;
    text-align: center;
    filter: drop-shadow( 0px 4px 10px rgba(0, 0, 0, 0.16));
}
.red_coll_name{
    font-weight: 400;
    font-size: 25px;
    line-height: 146.02%;
    color: #D3D3D3;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

}

.red_coll_inf{
    font-weight: 400;
    font-size: 20px;
    line-height: 146.02%;
    text-align: justify;
    color: #D3D3D3;
}

.partners{
    background-color:#0B3C5D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
}

.partners_title{
    margin-top: 188px;
    color: #D3D3D3;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 146.02%;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);

}
.line{
    margin-top: 10px;
    margin-bottom: 137px;
}

.partner1{
   margin-right: 278px; 
   font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    filter: drop-shadow( 0px 4px 10px rgba(0, 0, 0, 0.16));
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}
.partner2{
   margin-left: 278px; 
   font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    filter: drop-shadow( 0px 4px 10px rgba(0, 0, 0, 0.16));
    color: #FFFFFF;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.part{
    margin-bottom: 285px;
}

.end{
    width: 100%;
    height: 149px;
    
    background-color: #8FB8DE;
    
}


.end_title{
    padding-left: 53px;
    padding-top: 53px;
}

.end_cross{
    margin-right: 53px;
}

.end_med{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: rgba(0, 0, 0, 0.6);
   

}

.end_conf{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 146.02%;

    
    text-decoration:underline;

    color: rgba(0, 0, 0, 0.6);

    padding-right: 42px;
    padding-top: 41px;
 

}
.authors_intro{
    margin-top: 200px;
    margin-bottom:213px;

    display: flex;
    justify-content: center;
}

.authors{
    margin-bottom: 169px;
}

.authors_text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    text-align: center;
    padding-top: 47px;
    color: rgba(0, 0, 0, 0.7);

    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

}



.authors_icons{
    width: 99px;
    height: 89px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}




